.first-bg {
  background-image: url(../img/Hexagon.svg);
  background-size: cover;
}

.second-bg {
  background-image: url(../img/World\ Map.svg);
  background-size: cover;
}

.third-bg {
  background-color: #0E2A47;
  background-image: url(../img/work.svg);
  background-size: cover;
}

.container-fluid {
  height: 950px;
}

.white {
  color: white;
}

.nav-center {
  padding-top: 23%;
}

.text1 {
  padding-top: 15%;
}


.slide-right:hover {
  animation: slide 2s ease 0s infinite alternate none;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(50px);
  }
  
}

.nav {
  overflow: hidden;
  position: fixed;
  top: 40%;
  width: 100%;
}
.box{
  background-color: #0E2A47;
}
